#upperDiv {
  background-color: black;
  position: absolute;
  left: 0px;
  right: 1025px;
  padding: 10px;

}
#canvas {
  background-color: black;
}

#lowerDiv {
  position: absolute;
  left: 0px;
  background-color: black;
  right: 1025px;
  padding: 10px;
}

#BtnA {
  border: 0.8px solid white;
  width: 24%;
  height: 100%;
  text-align: center;
  color: white;
  font-size: 0.8rem;
  background-color: black;
  font-family: "Trebuchet MS", sans-serif;

}

#BtnCY {
  border: 0.8px solid white;
  width: 24%;
  height: 100%;
  text-align: center;
  color: white;
  font-size: 0.8rem;
  background-color: black;
  font-family: "Trebuchet MS", sans-serif;

}
#BtnAY {
  border: 0.8px solid white;
  width: 24%;
  height: 100%;
  text-align: center;
  color: white;
  font-size: 0.7rem;
  background-color: black;
  font-family: "Trebuchet MS", sans-serif;

}
#BtnM {
  border: 0.8px solid white;
  width: 24%;
  height: 100%;
  text-align: center;
  color: white;
  font-size: 0.8rem;
  background-color: black;
  font-family: "Trebuchet MS", sans-serif;

}

#Info {
  border: 0.8px solid white;
  width: 24%;
  height: 100%;
  text-align: center;
  color: white;
  font-size: 0.8rem;
  background-color: black;
  font-family: "Trebuchet MS", sans-serif;

}

#middleDiv {
	position: absolute;
  left: 50px;
  right: 1050px;
  top: 300px;
  color: white;
  font-size: 0.7rem;
  background-color: black;
  z-index: 100;
  font-family: "Trebuchet MS", sans-serif;
	text-align: left;
}
